:root {
  --input-padding-x: 1rem;
  --input-padding-y: 0.625rem;
  --input-padding: var(--input-padding-y) var(--input-padding-x);
  --input-label-size: 0.6875rem;
}

input,
textarea.chakra-textarea {
  padding: var(--input-padding);
  border-radius: var(--border-radius);
  color: var(--clr-tertiary);
}

textarea.chakra-textarea {
  padding-top: calc(var(--input-padding-y) + 1rem);
}

.chakra-form-control {
  .chakra-react-select {
    &__menu {
      z-index: 3;
    }

    &__indicator {
      background-color: transparent;
    }

    &:has(.chakra-react-select__value-container--has-value) {
      + label {
        transform: scale(0.75) translateY(-11px);
      }
    }

    &__value-container {
      padding-block: 0;
    }

    &__single-value {
      padding-block: 0;
      margin: 0;
      padding-top: 16px;
    }

    &__placeholder {
      opacity: 0;
    }

    &__input-container {
      padding: 0;
      margin: 0;

      input {
        padding-top: 16px;
        height: calc(var(--chakra-sizes-14) - 2px);
      }

      &::after {
        background-color: transparent;
      }
    }
  }
}

.chakra-numberinput {
  input {
    padding-top: 0;
  }

  + label {
    transform: unset !important;
  }
}
