.PublicLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 100dvh;
  background-color: var(--clr-primary);
  color: #fff;

  .container {
    max-width: 350px;
  }

  .logo {
    margin-bottom: 38px;
    margin-inline: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 86px;

    button[type="submit"] {
      margin-top: 26px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .forgot-pass {
    font-size: 0.875rem;
    font-style: italic;
    text-decoration: underline;
    color: #9fb3c8;
  }
}
