.InputNumberBox {
  &.chakra-form-control {
    --input-font-size: var(--chakra-fontSizes-md);
    --input-padding: var(--chakra-space-4);
    --input-border-radius: var(--chakra-radii-md);
    --input-height: var(--chakra-sizes-14);

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: var(--input-height);
    font-size: var(--input-font-size);
    padding-inline: var(--input-padding);
    padding-block: calc(var(--input-padding) * 0.625);
    border-radius: var(--input-border-radius);
    min-width: 0px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    position: relative;
    appearance: none;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);

    vertical-align: top;
    border: 1px solid;
    border-color: inherit;
    background: inherit;

    label {
      margin: 0;
    }
  }

  &:focus-within {
    border-color: #3182ce;
    box-shadow: 0 0 0 1px #3182ce;
  }

  .chakra-numberinput__field {
    --input-width: 35px;

    height: auto;
    padding-left: calc(100% - var(--number-input-input-padding) - var(--input-width));

    background-color: transparent;

    border: 0;
    box-shadow: unset !important;
    outline: 0;

    text-align: center;
  }

  &__stepper {
    pointer-events: none;
  }

  &__actionButton {
    pointer-events: auto;
    border: 0 !important;

    &:active {
      background-color: inherit;
    }
  }
}
