.SimpleFilter {
  .SimpleFilterItem {
    padding: 0.3125rem 0.75rem;
    border-radius: 100vw;
    border: 1px solid #eaeaea;

    font-weight: 600;
    font-size: 0.6875rem;

    user-select: none;

    cursor: pointer;

    transition: var(--transition);

    &:has(input:checked),
    &:hover {
      background-color: var(--clr-primary-50);
      border-color: var(--clr-primary-50);
    }
  }
}
