.PriceListBox {
  font-size: 0.875rem;
  font-weight: 500;

  &--empty {
    padding: 1.25rem;
    padding-top: 1.75rem;
    border-radius: var(--chakra-radii-md);
    color: var(--clr-tertiary-900);
    text-align: center;
    background-color: #f1f5f9;
  }

  &:not(&--empty) {
    > * {
      border: 1px solid #e2e8f0;

      &:not(:last-child) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:not(:first-child) {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
}
