.SmartSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  margin-top: auto;
  background-color: #fff;
  border-radius: 14px;
  padding: 1rem 1.5rem;

  &__title {
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
    color: #000;
  }

  &__subtitle {
    font-size: 0.9375rem;
    color: var(--clr-gray-dark);
  }
}
